{
  "extends": ["react-app"],
  "overrides": [
    {
      "files": ["src/languages/**/*"],
      "rules": {
        "max-len": "off"
      }
    }
  ],
  "rules": {
    "no-console": "warn",
    "prefer-const": "warn",
    "quotes": ["error", "single"],
    "jsx-quotes": 1,
    "indent": ["warn", 2],
    "semi": ["warn", "always"],
    "max-len": ["error", { "code": 100 }]
  }
}
