.contact {
  min-height: 100vh;

  @include tablet {
    min-height: 60vh;
  }

  @include mobile {
    min-height: 60vh;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
    }
  }

  h5 {
    font-size: 1.3125rem;
    text-transform: uppercase;
    margin-bottom: 16px;
    font-weight: 500;
  }

  &-info {
    margin-right: 20px;

    &-date {
      display: flex;
      align-items: center;

      &:nth-child(4) {
        margin-bottom: 16px;
      }
    }

    &-icon {
      margin-right: 7px;
      padding-top: 7px;
    }
  }

  &-form {
    width: 75%;

    @include mobile {
      width: 100%;
    }

    &-inputs {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.5rem;

      @include mobile {
        flex-direction: column;
      }
    }

    &-input,
    &-textarea {
      display: block;
      width: 100%;
      padding: 0.81rem 0.96rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      background: $main-background;
      color: $white;
      background-clip: padding-box;
      border: 1px solid $main-background;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 0.375rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      font-family: 'Poppins', sans-serif;

      &:focus {
        border-color: $input-border;
        -webkit-box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
        box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
      }
    }

    &-input {
      width: 48%;

      @include mobile {
        width: 100%;

        &:first-child {
          margin-bottom: 1.5rem;
        }
      }
    }

    &-textarea {
      max-width: 100%;
      min-width: 100%;
      min-height: 100%;
      margin-bottom: 1.5rem;
    }

    &-button {
      text-align: center;
    }
  }
}
