.resume {
  min-height: 100vh;

  &-items {
    width: 50%;
    padding: 0 24px;

    @include mobile {
      width: 100%;
    }

    &-wrapper {
      display: flex;
      margin-bottom: 24px;

      @include mobile {
        flex-direction: column;
      }
    }

    &-title {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }

  &-progress {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px 48px;
    margin-bottom: 48px;

    @include mobile {
      display: flex;
      flex-direction: column;
    }

    &-title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5rem;
    }
  }

  &-button {
    display: flex;
    justify-content: center;
  }
}