.navbar {
  display: flex;
  color: white;
  position: absolute;
  top: 0;
  width: 100%;
  justify-content: center;
  z-index: 2;

  &-animation {
    animation: fade-out 500ms forwards;
  }

  &-fixed {
    position: fixed;
    background-color: $navbar-background;
    z-index: 100;
  }

  &-item {
    margin-left: 2px;
  }

  &-link {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0 0.85em;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;

    &:hover,
    &:active {
      color: $main-green;
    }
  }
}