.social-media {
  display: flex;
  align-items: center;
  &-item {
    padding: 0 0.55em;

    :hover {
      color: $main-green;
    }

    &:last-child {
      padding-right: 0.85em;
    }

    &-link {
      display: flex;
    }
  }
}
