$smartphone-width: 320px;
$mobile-width: 480px;
$tablet-width: 768px;
$laptop-width: 1024px;
$desktop-width: 1280px;
$pc-width: 1400px;

@mixin mobile {
    @media (min-width: #{$smartphone-width}) and (max-width: #{$tablet-width}) {
        @content;
    }
}

@mixin mobile-portrait {
    @media (min-width: #{$smartphone-width}) and (max-width: #{$mobile-width}) {
        @content;
    }
}

@mixin mobile-landscape {
    @media (min-width: #{$mobile-width + 1px}) and (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$laptop-width}) {
        @content;
    }
}

@mixin mobile-device {
    @media (min-width: #{$smartphone-width}) and (max-width: #{$laptop-width}) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: #{$laptop-width + 1px}) and (max-width: #{$desktop-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width + 1px}) and (max-width: #{$pc-width}) {
        @content;
    }
}

@mixin pc {
    @media (min-width: #{$pc-width + 1px}) {
        @content;
    }
}

// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
    $index: str-index($string, $search);
    @if $index {
        @return str-slice($string, 1, $index - 1)+$replace+str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }
    @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot otf woff2 woff ttf svg) {
    $src: null;
    $extmods: ( eot: "?", svg: "#" + str-replace($name, " ", "_"));
    $formats: ( otf: "opentype", ttf: "truetype");
    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
    }
    @font-face {
        font-family: quote($name);
        font-style: $style;
        font-weight: $weight;
        src: $src;
    }
}