$white: #FFFFFF;
$blur-white: #dee3e4;
$main-green: #20c997;
$main-green-hover: #1baa80;
$main-background: #212529;
$header-title: #6c757d;
$gray-border: rgba(250, 250, 250, 0.12);
$text: rgba(255,255,255,.5);
